EMBEDDING_MODEL_NAME=embeddingmodelprovider/embeddingmodelname
CHAT_MODEL_NAME=chatmodelprovider/chatmodelname
#default is 8000, set to different port if needed
BASE_URL=http://localhost:8000/v1
EMBEDDING_MODEL_CONTEXT=depends on embedding model used
EMBEDDING_MODEL_CHUNK=depends on embedding model used
