EMBEDDING_MODEL_NAME=embeddingmodelprovider/embeddingmodelname
CHAT_MODEL_NAME=chatmodelprovider/chatmodelname
BASE_URL=http://localhost:8000/v1
MODEL_API_KEY=not-needed
EMBEDDING_MODEL_CONTEXT=depends on embedding model used
EMBEDDING_MODEL_CHUNK=depends on embedding model used
